.footer{
    font-size: 1.2rem;
    height: 90vh;
    background-color: #384757;
    color: var(--color-bg);
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 1px solid var(--color-bg);
}
.footer_one{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.footer_one div{
    padding: 7%;
    cursor: pointer;
}
.footer_two{
    width: 30%;
}
.footer_two img{
    position: relative;
    top: -10vh;
}
.footer_two p{
    font-size: 1.3rem;
    line-height: 36.6px;
    cursor: pointer;
}
.footer_three {
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.footer_three div{
    padding: 5%;
    cursor: pointer;
}
@media only screen and (max-width: 1300px) {
    .footer_three {
        width: 20%;
    }
}
@media only screen and (max-width: 1000px) {
    .footer_three {
        width: 30%;
    }
    .footer_two{
        width: 40%;
    }
    footer{
        font-size: 0.8rem;
    }
}
@media only screen and (max-width: 1000px) {
   .footer{
       display: none;
   }
}