.parent {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  top: -14vh;
  left: 5%;
  z-index: 1;
}
.parent div {
  width: 405px;
  height: 405px;
}
.div1 #grid_1:hover {
  transition: 1s;
  content: url(../../assets/hover_grid_one.png);
}
.div2 {
  background-color: var(--color-bg);
  text-align: center;
}
.div2 h2 {
  position: relative;
  font-size: 1.3rem;
  top: 15%;
  padding-bottom: 2rem;
}
.div2 p {
  position: relative;
  font-size: 1.3rem;
  top: 15%;
  width: 79%;
  left: 10%;
}
.div2:hover {
  background-color: #73b4b6;
  color: #ffffff;
}
.div3 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.div3 #grid_3:hover {
  transition: 2s;
  content: url(../../assets/hover_grid_two.png);
}
.div4 {
  background-color: var(--color-bg);
  text-align: center;
}
.div4 h2 {
  position: relative;
  font-size: 1.3rem;
  top: 15%;
  padding-bottom: 2rem;
}
.div4 p {
  position: relative;
  font-size: 1.3rem;
  top: 15%;
  width: 79%;
  left: 10%;
}
.div4:hover {
  background-color: #73b4b6;
}
.div5 {
  background-color: var(--color-bg);
  text-align: center;
}
.div5 h2 {
  position: relative;
  font-size: 1.3rem;
  top: 15%;
  padding-bottom: 2rem;
}
.div5 p {
  position: relative;
  font-size: 1.3rem;
  top: 15%;
  width: 79%;
  left: 10%;
}
.div5:hover {
  background-color: #0365d44c;
  color: var(--color-bg);
}
.div6 #grid_6:hover {
  transition: 1s;
  content: url(../../assets/blog_four.png);
}
.div7 {
  background-color: var(--color-bg);
  text-align: center;
}
.div7 h2 {
  position: relative;
  font-size: 1.3rem;
  top: 15%;
  padding-bottom: 2rem;
}
.div7 p {
  position: relative;
  font-size: 1.3rem;
  top: 15%;
  width: 79%;
  left: 10%;
}
.div7:hover {
  background-color: #d40eb64c;
  color: var(--color-bg);
}
.div8 #grid_8:hover {
  transition: 1s;
  content: url(../../assets/grid_1.png);
}
.div9 #grid_9:hover {
  transition: 1s;
  content: url(../../assets/hover_grid_two.png);
}
.div10{
  background-color: var(--color-bg);
  text-align: center;
}
.div10 h2 {
  position: relative;
  font-size: 1.3rem;
  top: 15%;
  padding-bottom: 2rem;
}
.div10 p {
  position: relative;
  font-size: 1.3rem;
  top: 15%;
  width: 79%;
  left: 10%;
}
.div10:hover {
  background-color: #fdab084c;
  color: #000
}
.div12{
  background-color: var(--color-bg);
  text-align: center;
}
.div12 h2 {
  position: relative;
  font-size: 1.3rem;
  top: 15%;
  padding-bottom: 2rem;
}
.div12 p {
  position: relative;
  font-size: 1.3rem;
  top: 15%;
  width: 79%;
  left: 10%;
}
.div12:hover{
  background-color: rgb(230, 125, 50);
}
.div11 #grid_11:hover {
  transition: 1s;
  content: url(../../assets/hover_grid_one.png);
}

@media only screen and (max-width: 1200px) {
  .parent div {
    width: 350px;
    height: 350px;
  }
  .parent div h1{
    font-size: 1rem;
  }
  .parent div p{
    font-size: 1rem;
  }
  .parent div img{
    width: 350px;
    height: 350px;
  }
  
}
@media only screen and (max-width: 419px) {
  .parent div {
    width: 200px;
    height: 200px;
  }
  .parent div h2{
    font-size: 0.9rem;
  }
  .parent div p{
    font-size: 0.6rem;
  }
  .parent div img{
    width: 210px;
    height: 210px;
  }
}